In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("C:/Users/Alexander/Downloads/Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [2]:
X = df[['area', 'bedrooms', 'bathrooms']].values
y = df['price'].values

X_b = np.c_[np.ones((X.shape[0], 1)), X]

In [16]:
# Нормалізація даних
def normalize_features(X):
    mu = np.mean(X, axis=0)
    sigma = np.std(X, axis=0)
    
    # Перевірка на нуль в знаменнику
    sigma[sigma == 0] = 1
    
    X_norm = (X - mu) / sigma
    return X_norm, mu, sigma

X_norm, mu, sigma = normalize_features(X_b)

# Перевірка на наявність NaN
print("NaN у X_norm:", np.isnan(X_norm).sum())
print("NaN у y:", np.isnan(y).sum())

# Ініціалізація вектора параметрів
initial_theta = np.zeros(X_norm.shape[1])

# Градієнтний спуск
alpha = 0.0001
iterations = 50000

final_theta, cost_history = gradient_descent(X_norm, y, initial_theta, alpha, iterations)
print(f"Оптимальні параметри w (градієнтний спуск): {final_theta}")

NaN у X_norm: 0
NaN у y: 0
Оптимальні параметри w (градієнтний спуск): [     0.         817071.21729618 308362.47758472 689680.10930741]

In [21]:
numeric_features = df.select_dtypes(include=[np.number])

correlation_matrix = numeric_features.corr()
print(correlation_matrix)

              price      area  bedrooms  bathrooms   stories   parking
price      1.000000  0.535997  0.366494   0.517545  0.420712  0.384394
area       0.535997  1.000000  0.151858   0.193820  0.083996  0.352980
bedrooms   0.366494  0.151858  1.000000   0.373930  0.408564  0.139270
bathrooms  0.517545  0.193820  0.373930   1.000000  0.326165  0.177496
stories    0.420712  0.083996  0.408564   0.326165  1.000000  0.045547
parking    0.384394  0.352980  0.139270   0.177496  0.045547  1.000000

In [17]:
comparison = pd.DataFrame({
    'Feature': ['Intercept', 'area', 'bedrooms', 'bathrooms'],
    'Gradient Descent': final_theta,
    'Analytical Solution': analytical_theta
})

print(comparison)

     Feature  Gradient Descent  Analytical Solution
0  Intercept          0.000000        -1.731716e+05
1       area     817071.217296         3.787628e+02
2   bedrooms     308362.477585         4.068200e+05
3  bathrooms     689680.109307         1.386049e+06